[Unit]
Description=Valkey In-Memory Data Store
After=network.target

[Service]
Type=simple
User=valkey
Group=valkey
ExecStart={{ valkey_config.install_dir }}/valkey-server {{ valkey_config.conf_dir }}/valkey.conf
Restart=always
RestartSec=5
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
