# {{ ansible_managed | comment }}
daemonize no
bind {{ valkey_config.bind }}
port {{ valkey_config.port }}
dir {{ valkey_config.data_dir }}
logfile {{ valkey_config.log_file }}

{% if valkey_config.requirepass %}
requirepass {{ valkey_config.requirepass }}
{% endif %}

# Mode-Specific Configuration
{% if valkey_config.mode | default('') == 'standalone' %}
standalone_mode: true
server_address {{ valkey_config.bind }}
server_port {{ valkey_config.port }}

{% elif valkey_config.mode | default('') == 'cluster' %}
cluster_mode: true
cluster_address {{ valkey_config.bind }}
cluster_port {{ valkey_config.port }}
cluster_nodes {{ groups['valkey_cluster'] | length }}
{% endif %}
